#button-toggle-theme {
    top: 20px;
    right: 0;
}

.white-mode {
    background: white;
    color: black;
}

.white-mode .card-body {
    border: none;
}

.dark-mode {
    background: #1f1f1f;
    color: white;
}

.dark-mode .card-body {
    background-color: #2d2d2d;
    border: 1px solid;
}

.dark-mode .card-footer {
    background-color: #2d2d2d;
    border: 1px solid;
}

#logo-left {
    position: absolute;
    width: 100px;
}

#logo-right {
    position: absolute;
    right: 0;
    width: 100px;
}

@media only screen and (max-width: 700px) {
    #button-toggle-theme {
        font-size: 0;
    }

    #logo-left {
        display: none;
    }

    #logo-right {
        display: none;
    }
}
